@model Job
@{
    ViewData["Title"] = "MyJobDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="headingcontainer">

<h1>My Job Detail</h1>
</div>
@{
    string id = ViewBag.Id;
}
<div class="text-end">
    <a class="btn btn-primary   my-2 py-3 px-5  text-center" style="font-weight:700; line-height:80%;" asp-controller="EmployerDashboard" asp-action="MyJobDetailEdit" asp-route-id="@Model.Id">EDIT</a>

    <a class="btn btn-danger   my-2 py-3 px-5  text-center" style="font-weight:700; line-height:80%;margin-right:10%;" asp-controller="Work" asp-action="Apply" asp-route-id="@Model.Id">DELETE</a>
</div>



<hr class="mt-0" />
<div class="container">
    <div class="row">
        <div class="col-lg-4 d-flex justify-content-center">
            <img class="m-2" id="preview" src="@Url.Action("GetLogo", "ProfessionalProfile", new { id = Model.Id })" alt="Profile Photo" width="175" height="175" style="object-fit:contain" />

        </div>
        <div class="col">
            <h3>
                @Model.JobTitle
            </h3>
            <p>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                    <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
                </svg>
                <i class="text-muted">@Model.Location</i>
            </p>

            <p><b>@Model.CompanyName </b></p>
            <p>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-rupee" viewBox="0 0 16 16">
                    <path d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4v1.06Z" />
                </svg> @Model.Salary
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <p class="fw-bold">
                Job Description:
            </p>
        </div>
        <div class="col">
            <p>
                @Model.JobDescription
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <p class="fw-bold">
                Qualification Required:
            </p>
        </div>
        <div class="col">
            <p>
                @Model.Qualification
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <p class="fw-bold">
                Experience:
            </p>
        </div>
        <div class="col">
            <p>
                @Model.Experience
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <p class="fw-bold ">
                Deadline:
            </p>
        </div>
        <div class="col text-danger">
            <p>
                @Model.Deadline.ToShortDateString()
            </p>
        </div>
    </div>
</div>

